%h1
  All Users
= link_to "New User", new_user_path, class: "btn btn-success"
- @users.each do |user|
  .card.index-card
    .row
      .col-lg-8
        = link_to "#{user.name}", user_path(user)

= link_to "Back", root_path