.card.index-card
  .row
    .col-lg-6
      = link_to document.name, document_url(document.id)
    .col-lg-6
      = link_to "Delete", document_path(document.id), method: :delete, data: { confirm: "Are you sure???" }, class: "btn btn-danger float-right"
      = link_to 'Download', download_pdf_document_url(document.id), class: "doc-image btn btn-warning float-right"