%h1
  All Docs
%hr
%button.btn.btn-primary{type: "button", "data-toggle": "modal", "data-target": "#docModal"}
  New Document

= render 'modal'
#downloads
  = render partial: 'document', collection: @docs

= link_to "Back", lists_path