%h1
  All Docs
%hr
- @docs.each do |doc|
  .card.index-card
    .row
      .col-lg-6
        = link_to doc.name, document_url(doc)
      .col-lg-6
        = link_to "Delete", document_path(doc.id), method: :delete, data: { confirm: "Are you sure???" }, class: "btn btn-danger float-right"
        = link_to 'Download', download_pdf_document_url(doc.id), class: "doc-image btn btn-warning float-right"