%h1
  View Album Info
.row
  .col-lg-4
    %button#album-info.btn.btn-warning
      Show Info

.row
  .col-lg-8
    #album

%script#entry-template{type: "text/x-handlebars-template"}
  {{#each album}}
  %p
    %strong
      Id: 
    {{id}}
  %p
    %strong
      Title: 
    {{title}}
  {{/each}}


